
*.pdb
*.cache
Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Test/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
Test/obj/Debug/Test.Browser.resources
Test/obj/Debug/Test.csproj.FileListAbsolute.txt
Test/obj/Debug/ZacksBrowser.Browser.resources
Test/obj/Debug/ZacksBrowser.csproj.FileListAbsolute.txt
Test/obj/Debug/ZacksBrowser.exe
Test/obj/Debug/ZacksBrowser.Properties.Resources.resources
Test/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Test/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Test/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Test/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
Test/obj/Release/Test.csproj.FileListAbsolute.txt
Test/obj/Release/Test.exe
Test/obj/Release/Test.Form1.resources
*.resources
Test/obj/Release/ZacksBrowser.csproj.FileListAbsolute.txt
Test/obj/Release/ZacksBrowser.exe
Test/bin/Release/ZacksBrowser.exe.config
Test/bin/Release/ZacksBrowser.exe
Test/bin/Release/Test.exe.config
Test/bin/Release/Test.exe
Test/bin/Debug/About.html
Test/bin/Debug/Homepage.txt
Test/bin/Debug/ZacksBrowser.exe
Test/bin/Debug/ZacksBrowser.exe.config
Test/bin/Debug/ZacksBrowser.zip
Test/bin/Release/About.html
Test/bin/Release/Homepage.txt
.vs/ZacksBrowser/v15/Server/sqlite3/storage.ide-wal
.vs/ZacksBrowser/v15/Server/sqlite3/storage.ide-shm
.vs/ZacksBrowser/v15/Server/sqlite3/storage.ide
.vs/ZacksBrowser/v15/Server/sqlite3/db.lock
.vs/ZacksBrowser/v15/.suo
Test/bin/Debug/Debug.zip
